$base-font-size: 16px;
$base-font-family: 'Roboto', sans-serif;
$main-font-family: 'IBM Plex Sans';

// colors
$black: #2c2738;
$white: #fff;
$dirtWhite: #ebf4f8;
$lightBlue: #0880AE;
$dirtBlue: #7c9cbf;
$gray: #756f86;

$disableButtonBg: #dbe2ea;
$disableButtonColor: #b1b5bf;

$error: #ff7171;